{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-success mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет записей</p>
    {% endif %}
        {% if images %}
            {% for photo in images %}
                <p>{{ photo.title }}</p>
                <img src="{{ photo.image.url }}">
            {% endfor %}
        {% else %}
            <p>Картинок нет</p>
        {% endif %}
{% endblock %}